html, body
{}

body
{
	font-family: Arial, San Serif;
	color: black;
}

h1
{
	font-size: 3em;
	text-decoration: none;
}

h2
{
	font-size: 1.5em;
	text-decoration: none;
}

input
{
	border: 0px solid black;
	border-bottom: 1px solid black;
	font-family: Courier, Monospace;
	font-size: 1.2em;
	text-align: center;
	padding: 2px;
}

input:focus
{
	outline: none;
}